TicketInco/src/wsdl/localhost_63081/MedioPagoLocal.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://esb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MedioPagoLocalService" targetNamespace="http://esb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://esb/" elementFormDefault="unqualified" targetNamespace="http://esb/" version="1.0">

  <xs:element name="confirmarPago" type="tns:confirmarPago"/>

  <xs:element name="confirmarPagoResponse" type="tns:confirmarPagoResponse"/>

  <xs:complexType name="confirmarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="nroTarjeta" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:string"/>
      <xs:element minOccurs="0" name="digitoVerificador" type="xs:string"/>
      <xs:element minOccurs="0" name="monto" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarPagoResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="confirmarPagoResponse">
    <wsdl:part element="tns:confirmarPagoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmarPago">
    <wsdl:part element="tns:confirmarPago" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MedioPagoLocal">
    <wsdl:operation name="confirmarPago">
      <wsdl:input message="tns:confirmarPago" name="confirmarPago">
    </wsdl:input>
      <wsdl:output message="tns:confirmarPagoResponse" name="confirmarPagoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedioPagoLocalServiceSoapBinding" type="tns:MedioPagoLocal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmarPago">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="confirmarPago">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmarPagoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedioPagoLocalService">
    <wsdl:port binding="tns:MedioPagoLocalServiceSoapBinding" name="MedioPagoLocalPort">
      <soap:address location="http://localhost:63081/MedioPagoLocal"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>