TicketInco/src/wsdl/localhost_8084/WebCallBack/NotificarConfirmacionReserva.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://CallBack.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CallBack.ws/">

<xs:element name="NotificarConfirmacionResreva" type="tns:NotificarConfirmacionResreva" />

<xs:element name="NotificarConfirmacionResrevaResponse" type="tns:NotificarConfirmacionResrevaResponse" />

<xs:complexType name="NotificarConfirmacionResreva">
<xs:sequence>
<xs:element name="idReserva" type="xs:long" />
<xs:element name="arg1" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NotificarConfirmacionResrevaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasRetornar" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasRetornar">
<xs:sequence>
<xs:element name="listaImagenes" type="xs:base64Binary" minOccurs="0" />
<xs:element name="idReserva" type="xs:long" />
</xs:sequence>
</xs:complexType>
</xs:schema>